<mat-card class="widthMat mat-elevation-z4">
    <mat-card-title>Cadastro de Projeto</mat-card-title>
    <form [formGroup]="formProject" (ngSubmit)="salvarFormulaio()">
        <div fxLayout="row" fxLayoutAlign="space-evenly center">
            <mat-form-field fxFlex="30">
                <mat-label>Nome Projeto</mat-label>
                <input type="text" matInput name="str_tituloProject" formControlName="str_tituloProject">
            </mat-form-field>
            <mat-form-field fxFlex="30">
                <mat-label>Data de Início</mat-label>
                <input name="dat_inicio" matInput id="dat_inicio" formControlName="dat_inicio" mask="00/00/0000">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-evenly center">
            <mat-form-field fxFlex="90">
                <mat-label>Descrição</mat-label>
                <textarea name="str_desc" matInput id="str_desc" formControlName="str_desc"></textarea>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-evenly center">
            <input type="file" multiple>
        </div>

        <div style="display: flex; justify-content: space-between; margin-top: 10px;">
            <button mat-raised-button color="primary" [routerLink]="['/projeto']">Cancelar</button>
            <button mat-raised-button color="primary" [disabled]="formProject.invalid">Cadastrar</button>
        </div>
    </form>
</mat-card>